.DS_Store
closet-color-id.xcodeproj/xcuserdata/allisoncao.xcuserdatad/xcdebugger/
closet-color-id.xcodeproj/xcuserdata/allisoncao.xcuserdatad/
closet-color-id/.DS_Store
closet-color-id/Assets.xcassets/.DS_Store
closet-color-id/CoreData/.DS_Store
closet-color-id.xcodeproj/project.xcworkspace/xcuserdata/allisoncao.xcuserdatad/UserInterfaceState.xcuserstate
closet-color-id.xcodeproj/project.xcworkspace/xcuserdata/tinalin.xcuserdatad/UserInterfaceState.xcuserstate
closet-color-id.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

